---
import { Image } from "astro:assets";

import "@chinese-fonts/lxgwwenkaibright/dist/LXGWBright-MediumItalic/result.css";
import "@chinese-fonts/lxgwwenkai/dist/LXGWWenKai-Light/result.css";

import Layout from "../layouts/Layout.astro";
import MdiFileDocumentMultipleOutline from "../icon/MdiFileDocumentMultipleOutline.astro";
import MdiFaceManShimmerOutline from "../icon/MdiFaceManShimmerOutline.astro";
import MdiCookieOutline from "../icon/MdiCookieOutline.astro";
import MdiClipboardAccountOutline from "../icon/MdiClipboardAccountOutline.astro";
---

<Layout title="stevending1st's page">
  <main>
    <div class="avatar-box">
      <Image
        class="avatar"
        src="/avatar.jpg"
        alt="avatar"
        width="100"
        height="100"
      />
    </div>

    <h1>stevending1st</h1>

    <p class="description">All Things Have a Beginning, but Few Can Reach the End.</p>

    <ul class="menu">
      <li>
        <a class="menu-link" href="/blog">
          <div class="menu-item">
            <MdiFileDocumentMultipleOutline height="1.2em" width="1.2em"/>
            <p class="menu-text">Blog</p>
          </div>
        </a>
      </li>

      <li>
        <a class="menu-link" href="/projects">
          <div class="menu-item">
            <MdiCookieOutline  width="1.2em" height="1.2em" />
            <p class="menu-text">Projects</p>
          </div>
        </a>
      </li>

      <li>
        <a class="menu-link" href="/blog">
          <div class="menu-item">
            <MdiClipboardAccountOutline  width="1.2em" height="1.2em" />
            <p class="menu-text">Resume</p>
          </div>
        </a>
      </li>

      <li>
        <a class="menu-link" href="/blog">
          <div class="menu-item">
            <MdiFaceManShimmerOutline  width="1.2em" height="1.2em" />
            <p class="menu-text">About</p>
          </div>
        </a>
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .avatar-box {
    border-radius: 50%;
    background-color: #eee;
    margin-top: 12rem;
    height: 106px;
    width: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar {
    border-radius: 50%;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
    font-family:'LXGW Bright Medium';
    font-weight:'800'
  }

  .description {
    margin-top: 0;
    font-family:'LXGW Bright Medium';
    font-weight:'600'
  }

  .menu {
    list-style: none;
    display: flex;
    padding: 0;
    font-family:'LXGW WenKai Light';
    font-weight:'400'
  }

  .menu li {
    margin-right: 20px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu-link:hover {
    color: white;
  }

  .menu-link {
    color: darkgrey;
    text-decoration: none;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-text {
    margin: 0;
    font-size: 16px;
  }

  .iconify {
    width: 10px;
    height: 10px;
  }
</style>
